In [1]:
import pandas as pd

In [6]:
pd.set_option('display.max_columns', None)
df = pd.read_csv('hotel_bookings_data.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,3,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,0.0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,4,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
2,Resort Hotel,0,7,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Direct,Direct,0,0,0,0,No Deposit,NaN,NaN,0,Personal,75.0,0,0,Check-Out
3,Resort Hotel,0,13,2017,September,27,1,0,1,1,0.0,0,Breakfast,Kabupaten Bangka,Corporate,Corporate,0,0,0,0,No Deposit,304.0,NaN,0,Personal,75.0,0,0,Check-Out
4,Resort Hotel,0,14,2017,September,27,1,0,2,2,0.0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240.0,NaN,0,Personal,98.0,0,1,Check-Out

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

In [7]:
#cek data kosong
counts = df.isna().sum().sort_values(ascending=False)
#cek persen data kosong
percentages = round(df.isna().mean() * 100, 3).sort_values(ascending=False)
#gabungkan
null_values = pd.concat([counts, percentages], axis=1, keys=["count", "%"])
null_values

                                 count       %
company                         112593  94.307
agent                            16340  13.686
city                               488   0.409
children                             4   0.003
hotel                                0   0.000
is_repeated_guest                    0   0.000
total_of_special_requests            0   0.000
required_car_parking_spaces          0   0.000
adr                                  0   0.000
customer_type                        0   0.000
days_in_waiting_list                 0   0.000
deposit_type                         0   0.000
booking_changes                      0   0.000
previous_bookings_not_canceled       0   0.000
previous_cancellations               0   0.000
market_segment                       0   0.000
distribution_channel                 0   0.000
is_canceled                          0   0.000
meal                                 0   0.000
babies                               0   0.000
adults                               0   0.000
stays_in_weekdays_nights             0   0.000
stays_in_weekend_nights              0   0.000
arrival_date_day_of_month            0   0.000
arrival_date_week_number             0   0.000
arrival_date_month                   0   0.000
arrival_date_year                    0   0.000
lead_time                            0   0.000
reservation_status                   0   0.000

In [11]:
df['meal'].value_counts()

Breakfast     92310
Dinner        14463
No Meal       10650
Undefined      1169
Full Board      798
Name: meal, dtype: int64

# Handling missing value dan nilai kolom yang tidak sesuai

# Kolom kosong:<br>
- company 112593 baris <br>
- agent 16340 baris <br>
- city 488 baris <br>
- children 4 baris <br>

In [15]:
df_clean = df.copy()

In [16]:
df_clean['company'] = df_clean['company'].fillna(0)
df_clean['agent'] = df_clean['agent'].fillna(0)
df_clean['children'] = df_clean['children'].fillna(0)
df_clean['city'] = df_clean['city'].fillna('unknown')

In [17]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           119390 non-null  float64
 22  company                         119390 non-null  float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

# Kolom meal :
- 'undefined' 1169 baris

In [18]:
df_clean = df_clean.replace({'meal': {'Undefined':'No Meal'}})

In [19]:
df_clean['meal'].value_counts()

Breakfast     92310
Dinner        14463
No Meal       11819
Full Board      798
Name: meal, dtype: int64

# Dtypes yg tidak sesuai:
- Kolom company seharusnya integer <br>
- Kolom agent seharusnya integer <br>
- Kolom children seharusnya integer

In [20]:
df_clean['company'] = df_clean['company'].astype('int64')
df_clean['agent'] = df_clean['agent'].astype('int64')
df_clean['children'] = df_clean['children'].astype('int64')

In [21]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  int64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           119390 non-null  int64
 22  company                         119390 non-null  int64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(1), int64(19), object(9)
memory usage: 26.4+ MB

# Membuang data yg tidak diperlukan <br>
- jumlah tamu untuk setiap pemesanan

In [25]:
df_clean ['total_guest'] = df_clean['adults'] + df_clean['children'] + df_clean['babies']

In [27]:
df_clean[(df_clean['total_guest'] == 0 )]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,total_guest
2224,Resort Hotel,0,1,2017,December,41,6,0,3,0,0,0,No Meal,Kota Denpasar,Corporate,Corporate,0,0,0,1,No Deposit,0,174,0,Family,0.00,0,0,Check-Out,0
2409,Resort Hotel,0,0,2017,December,42,12,0,0,0,0,0,No Meal,Kota Denpasar,Corporate,Corporate,0,0,0,0,No Deposit,0,174,0,Personal,0.00,0,0,Check-Out,0
3181,Resort Hotel,0,36,2017,January,47,20,1,2,0,0,0,No Meal,Kota Batu,Groups,TA/TO,0,0,0,0,No Deposit,38,0,0,Family,0.00,0,0,Check-Out,0
3684,Resort Hotel,0,165,2017,February,53,30,1,4,0,0,0,No Meal,Kota Denpasar,Groups,TA/TO,0,0,0,1,No Deposit,308,0,122,Family,0.00,0,0,Check-Out,0
3708,Resort Hotel,0,165,2017,February,53,30,2,4,0,0,0,No Meal,Kota Denpasar,Groups,TA/TO,0,0,0,1,No Deposit,308,0,122,Family,0.00,0,0,Check-Out,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115029,City Hotel,0,107,2019,August,26,27,0,3,0,0,0,Breakfast,Kabupaten Sumedang,Online TA,TA/TO,0,0,0,1,No Deposit,7,0,0,Personal,100.80,0,0,Check-Out,0
115091,City Hotel,0,1,2019,August,26,30,0,1,0,0,0,No Meal,Kota Denpasar,Complementary,Direct,0,0,0,0,No Deposit,0,0,0,Personal,0.00,1,1,Check-Out,0
116251,City Hotel,0,44,2019,September,28,15,1,1,0,0,0,No Meal,Kota Surabaya,Online TA,TA/TO,0,0,0,2,No Deposit,425,0,0,Personal,73.80,0,0,Check-Out,0
116534,City Hotel,0,2,2019,September,28,15,2,5,0,0,0,No Meal,Kota Jakarta Selatan,Online TA,TA/TO,0,0,0,1,No Deposit,9,0,0,Family,22.86,0,1,Check-Out,0
117087,City Hotel,0,170,2019,September,30,27,0,2,0,0,0,Breakfast,Kota Jakarta Barat,Offline TA/TO,TA/TO,0,0,0,0,No Deposit,52,0,0,Personal,0.00,0,0,Check-Out,0

In [28]:
df_clean ['stay_duration'] = df_clean['stays_in_weekend_nights'] + df_clean['stays_in_weekdays_nights']

In [29]:
df_clean[(df_clean['stay_duration'] == 0 )]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,total_guest,stay_duration
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,3,No Deposit,0,0,0,Personal,0.0,0,0,Check-Out,2,0
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,4,No Deposit,0,0,0,Personal,0.0,0,0,Check-Out,2,0
167,Resort Hotel,0,111,2017,September,28,6,0,0,2,0,0,Breakfast,Kota Denpasar,Online TA,TA/TO,0,0,0,0,No Deposit,240,0,0,Personal,0.0,0,2,Check-Out,2,0
168,Resort Hotel,0,0,2017,September,28,6,0,0,1,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,0,No Deposit,250,0,0,Personal,0.0,0,0,Check-Out,1,0
196,Resort Hotel,0,8,2017,September,28,7,0,0,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,0,No Deposit,0,0,0,Personal,0.0,0,1,Check-Out,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115483,City Hotel,0,15,2019,September,27,6,0,0,1,0,0,No Meal,Kota Yogyakarta,Direct,Direct,0,0,0,0,No Deposit,14,0,0,Family,0.0,0,0,Check-Out,1,0
117701,City Hotel,0,0,2019,October,32,8,0,0,2,0,0,Breakfast,Kota Denpasar,Offline TA/TO,TA/TO,1,0,0,0,No Deposit,262,0,0,Personal,0.0,0,0,Check-Out,2,0
118029,City Hotel,0,0,2019,October,33,14,0,0,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,1,0,0,0,No Deposit,0,0,0,Personal,0.0,0,0,Check-Out,2,0
118631,City Hotel,0,78,2019,October,34,23,0,0,1,0,0,Breakfast,Kota Denpasar,Offline TA/TO,TA/TO,0,0,0,7,No Deposit,98,0,0,Family,0.0,0,0,Check-Out,1,0
118963,City Hotel,0,1,2019,October,35,27,0,0,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,0,No Deposit,0,0,0,Personal,0.0,0,0,Check-Out,2,0

In [30]:
df_hotel = df_clean [(df_clean['total_guest'] > 0) & (df_clean['stay_duration'] > 0)]

In [31]:
df_hotel.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,children,babies,meal,city,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,total_guest,stay_duration
2,Resort Hotel,0,7,2017,September,27,1,0,1,1,0,0,Breakfast,Kabupaten Bangka,Direct,Direct,0,0,0,0,No Deposit,0,0,0,Personal,75.0,0,0,Check-Out,1,1
3,Resort Hotel,0,13,2017,September,27,1,0,1,1,0,0,Breakfast,Kabupaten Bangka,Corporate,Corporate,0,0,0,0,No Deposit,304,0,0,Personal,75.0,0,0,Check-Out,1,1
4,Resort Hotel,0,14,2017,September,27,1,0,2,2,0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240,0,0,Personal,98.0,0,1,Check-Out,2,2
5,Resort Hotel,0,14,2017,September,27,1,0,2,2,0,0,Breakfast,Kabupaten Bangka,Online TA,TA/TO,0,0,0,0,No Deposit,240,0,0,Personal,98.0,0,1,Check-Out,2,2
6,Resort Hotel,0,0,2017,September,27,1,0,2,2,0,0,Breakfast,Kota Denpasar,Direct,Direct,0,0,0,0,No Deposit,0,0,0,Personal,107.0,0,0,Check-Out,2,2

In [32]:
df_hotel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118565 entries, 2 to 119389
Data columns (total 31 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118565 non-null  object
 1   is_canceled                     118565 non-null  int64
 2   lead_time                       118565 non-null  int64
 3   arrival_date_year               118565 non-null  int64
 4   arrival_date_month              118565 non-null  object
 5   arrival_date_week_number        118565 non-null  int64
 6   arrival_date_day_of_month       118565 non-null  int64
 7   stays_in_weekend_nights         118565 non-null  int64
 8   stays_in_weekdays_nights        118565 non-null  int64
 9   adults                          118565 non-null  int64
 10  children                        118565 non-null  int64
 11  babies                          118565 non-null  int64
 12  meal                            118565 non-null  object
 13  city                            118565 non-null  object
 14  market_segment                  118565 non-null  object
 15  distribution_channel            118565 non-null  object
 16  is_repeated_guest               118565 non-null  int64
 17  previous_cancellations          118565 non-null  int64
 18  previous_bookings_not_canceled  118565 non-null  int64
 19  booking_changes                 118565 non-null  int64
 20  deposit_type                    118565 non-null  object
 21  agent                           118565 non-null  int64
 22  company                         118565 non-null  int64
 23  days_in_waiting_list            118565 non-null  int64
 24  customer_type                   118565 non-null  object
 25  adr                             118565 non-null  float64
 26  required_car_parking_spaces     118565 non-null  int64
 27  total_of_special_requests       118565 non-null  int64
 28  reservation_status              118565 non-null  object
 29  total_guest                     118565 non-null  int64
 30  stay_duration                   118565 non-null  int64
dtypes: float64(1), int64(21), object(9)
memory usage: 28.9+ MB